[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
!.ssh
*.orig
*.bak
.tags
.ropeproject/
*~
*.save
packages/*/src
packages/*/pkg
*.tar.*
*.tar
*.img
*.iso
packages_me.txt
packages_remote.txt
packages_synced.txt
.tags
*.log
backups
logs
